/* CSS for LDAP Tool Box Self Service Password */

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
  height: 100vh;
  display: flex;
  align-items: center;
}

.panel {
  width: 50vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "login";
  box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
  border-radius: 20px;
  background: white;
  overflow: hidden;
}

.input-group {
  background: #e6e6e6;
  height: 40px;
  display: flex;
  width: 60%;
  align-items: center;
  border-radius: 10px;
  padding: 0 15px;
  margin: 5px 0;
}

.input-group .input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  margin-left: 10px;
}

.captcha {
  padding-top: 0 !important;
  margin-bottom: 5px !important;
}

a,
a:hover {
  text-decoration: none;
}

.panel {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
}

img.logo {
  margin-bottom: 20px;
}

img.menu-logo {
  display: inline;
  height: 25px;
}

.alert {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h3.title {
  margin: 15px 0;
}

.alert-info {
  background: none;
  border: none;
}

.login-btn {
  width: 68%;
  padding: 10px;
  color: white;
  background: linear-gradient(to top right, #F8A41B, #EA4428, #8D2B83);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.table {
  margin-bottom: 0;
}

.display img {
  margin-bottom: 20px;
}

.input-group-addon label {
  margin: 0;
  font-weight: normal;
}

div#footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px;
  width: 100%;
}

textarea#sshkey {
  font-family: monospace;
  word-break: break-all;
  resize: vertical;
  min-height: 10em;
}

.container {
  display: flex;
  justify-content: center;
}

@media print {

  html,
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
  }

  a[href]:after {
    content: none;
  }
}