/* CSS for LDAP Tool Box Self Service Password */

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
  height: 100vh;
  display: flex;
  align-items: center;
}

.panel {
  width: 50vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "login";
  box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
  border-radius: 20px;
  background: white;
  overflow: hidden;
}

.captcha {
  padding-top: 0 !important;
  margin-bottom: 5px !important;
}

a,
a:hover {
  text-decoration: none;
}

.panel,
.alert,
.navbar-wrapper {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
}

.panel {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
}

img.logo {
  margin-bottom: 20px;
}

img.menu-logo {
  display: inline;
  height: 25px;
}

.table {
  margin-bottom: 0;
}

.display img {
  margin-bottom: 20px;
}

.input-group-addon label {
  margin: 0;
  font-weight: normal;
}

div#footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px;
  width: 100%;
}

textarea#sshkey {
  font-family: monospace;
  word-break: break-all;
  resize: vertical;
  min-height: 10em;
}

@media print {

  html,
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
  }

  a[href]:after {
    content: none;
  }
}